@model UporabnikModel

<div>
    <h4>Racun</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>