@{
    ViewData["Title"] = "Slike";
}
<h1>@ViewData["Title"]</h1>
<br/>
<h2>@Model.ime</h2>

<div id="accordion">
    
        <h3 >ime slike</h3>
        <div>@Model.ime</div>
                
        <h3>cena slike</h3>
        <div>@Model.cena eur</div>
        
        <h3>leto izdaje</h3>
        <div>@Model.letoIzdaje</div>
       
        <h3>Ali je slika unikat ?</h3>
        <div>
            @if (Model.jeUnikat == true)
            {
                <p>Da</p>
            }
            else
            {
                <p>Ne</p>
            }
        </div>
    
           </div>

