@{
    ViewData["Title"] = "Slike";
}
<h1>@ViewData["Title"]</h1>
<br/>
<h2>@Model.ime</h2>

<div class="accordion">
    <div class="accordion-item">
        <div class=" accordion-header">ime slike</div>
        <div class="accordion-content">@Model.ime</div>
            </div>
    <div class="accordion-item">
        <div class=" accordion-header">cena slike</div>
        <div class="accordion-content">@Model.cena eur</div>
    </div>
    <div class="accordion-item">
        <div class=" accordion-header">leto izdaje</div>
        <div class="accordion-content">@Model.letoIzdaje</div>
    </div>
    <div class="accordion-item">
        <div class=" accordion-header">Ali je slika unikat ?</div>
        <div class="accordion-content">
            @if (Model.jeUnikat == true)
            {
                <p>Da</p>
            }
            else
            {
                <p>Ne</p>
            }
        </div>
    </div>
           </div>

