<h2>@Model.Uporabnik.name @Model.Uporabnik.surname</h2>
<p>Datum rojstva: @Model.Uporabnik.birthdate.Day @Model.Uporabnik.birthdate.Month @Model.Uporabnik.birthdate.Year</p>
<p>Kontakt: @Model.Uporabnik.email</p>