@{
    ViewData["Title"] = "Uporabniki";
}
<h1>@ViewData["Title"]</h1>
<br/>

<h2>@ViewBag.Uporabnik.ime @ViewBag.Uporabnik.priimek</h2>
<p>Datum rojstva : @ViewBag.Uporabnik.datumRojstva.Day @ViewBag.Uporabnik.datumRojstva.Month @ViewBag.Uporabnik.datumRojstva.Year  </p>
<p>Kontakt : @ViewBag.Uporabnik.kontakt</p>
