@{
    @model UporabnikModel
    
    if (Model.email == null || Model.name == null)
    {
        Context.Response.Redirect("/Registracija");
    }
    ViewData["Title"] = "Nov Uporabnik";
}
<h1>@ViewData["Title"]</h1>

<h1>@Model.name @Model.surname @Model.birthdate @Model.emso</h1>
<h1>@Model.address @Model.email @Model.post @Model.country</h1>
<h1>@Model.address Geslo : @Model.password Poštna : @Model.postnum</h1>

<div class="align-content-center">
<label for="ocena" class="ocenaLable">Ocenite svojo izkušnjo ustvarjanja računa:</label>
<br />
<div class="slider-container">
    <input type="range" class="form-range" min="1" max="5" step="1" id="ocena">
    <div class="labels">
        <span>Slabo</span>
        <span>Sprejemljivo</span>
        <span>Vredu</span>
        <span>Dobro</span>
        <span>Brezhibno</span>
    </div>
</div>
<br>
<br>
<br>
<div>
        <button type="button" id="return-btn" class="btn btn-primary" onclick="window.location.href='/'">Vrni se na začetno stran.</button>
</div>

</div>