@{
    ViewData["Title"] = "adsf";
}
<h1>@ViewData["Title"]</h1>
<br/>

<h2>@Model.ime @Model.priimek</h2>
<p>Datum rojstva : @Model.datumRojstva.Day @Model.datumRojstva.Month @Model.datumRojstva.Year  </p>
<p>Kontakt : @Model.email</p>
