@{
    ViewData["Title"] = "adsf";
}
<h1>@ViewData["Title"]</h1>
<br/>

<h2>@Model.name @Model.surname</h2>
<p>Datum rojstva : @Model.birthdate.Day @Model.birthdate.Month @Model.birthdate.Year  </p>
<p>Kontakt : @Model.email</p>
